.rotulo1{
    height: 60%;
    width: 30%;
    background-color: grey;
    padding-bottom: 10%;
}
.rotulo2{
    margin-left: 35%;
    height: 60%;
    width: 30%;
    background-color: grey;
    padding-bottom: 10%;
}
.rotulo3{
    margin-left: 70%;
    height: 60%;
    width: 30%;
    background-color: grey;
    padding-bottom: 10%;
}
#texto{
    text-align: center;
    font-weight: bold;
}
