.rotulo1{
    float: left;
    height: 170px;
    width: 30%;
    background-color: grey;
    border: solid darkgrey;
    border-radius: 8px;
}
.rotulo2{
    float: right;
    height: 170px;
    width: 30%;
    background-color: grey;
    border: solid darkgrey;
    border-radius: 8px;
    margin-left: 25px;
}
.rotulo3{
    float: right;
    height: 170px;
    width: 30%;
    background-color: grey;
    border: solid darkgrey;
    border-radius: 8px;
}
#texto{
    text-align: center;
    font-weight: bold;
}
