.rotulo1{
    float: left;
    height: 170px;
    width: 30%;
    background-color: lightgray;
    border: solid darkgrey;
    border-radius: 8px;
    border-width: 0.1px;
}
.rotulo2{
    float: right;
    height: 170px;
    width: 30%;
    background-color: lightgray;
    border: solid darkgrey;
    border-radius: 8px;
    border-width: 0.1px;
    margin-left: 25px;
}
.rotulo3{
    float: right;
    height: 170px;
    width: 30%;
    background-color: lightgrey;
    border: solid darkgrey;
    border-radius: 8px;
    border-width: 0.1px;
}
#texto{
    text-align: center;
    font-weight: bold;
}
#img3{
    height: 125px;
    width: 95%;
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 2.5%;
}
